 <div>
           

	<h3>Question 2 - </h3>

	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response2" value="A">A</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response2" value="B">B</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response2" value="C">C</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response2" value="D">D</label>
	</div>

	<p><a class="btn btn-md btn-success" ng-click="saveThird()" role="button">Next</a></p>

 </div>   