 <div>
           
<h3>Question 1 - </h3>

<form name="myform">
	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response1" value="A">A</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response1" value="B">B</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response1" value="C">C</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="optradio" ng-model="response1" value="D">D</label>
	</div>

    <p><a class="btn btn-md btn-success" ng-click="saveSecond()" role="button">Next</a></p>

</form>

 </div>     